html, body{
    text-transform: uppercase;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    margin: 0;
    padding:0;
    text-align: center;
}
.red {
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue {
    background-color: cyan;
}
@media (min-width: 5em){
    body{
        background-color: blue;
    }
} 
@media (min-width: 65em){
body{background-color: white;}
div.container{
    margin: 2% 1%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.2em;
    grid-template-rows: repeat(3, 1fr);
}
p{
    padding: 1.2em;
    margin:0;
}

.yellow{
    grid-row: 2 / 4;
    grid-column: 4 / span 2;
    display: grid;
    justify-content: center;
    align-items: center;
}
.blue{
    grid-row: 1 / span 3;
    grid-column: 3 ;
    display: grid;
    justify-content: center;
    align-items: center;
}
}
